<div class="items-container">
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput (keyup)="searchTerm$.next($event.target.value)">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  
    <ul *ngIf="results">
      <li *ngFor="let result of results | slice:0:9">
        <a href="{{ result.latest }}" target="_blank">
          {{ result.name }}
        </a>
      </li>
    </ul>
  </div>
  
  <!-- <form class="form-horizontal" [formGroup]="myForm">
    <app-modal-form-control [required]="true" formControlName="firstName">
      <app-modal-select [options]="results" (keyup)="searchTerm$.next($event.target.value)" [labelFormatter]="resultsName"></app-modal-select>
    </app-modal-form-control>
    <button type="submit" (click)="onSubmit()"></button>
  </form>  -->
  
   <!-- <input [(ngModel)]="model" (keyup)="searchTerm$.next($event.target.value)">
    <option *ngFor="let result of results | slice:0:9" [value]="result.latest">
      {{result.name}}
    </option> -->