<div *ngFor="let message of messages">
  <mat-card>
    <mat-card-title [routerLink]="['/messages', message.sender]">{{message.sender}}</mat-card-title>
    <mat-card-content>{{message.text}}</mat-card-content>
  </mat-card>
</div>


<!-- 
  <div>
  <form class="form-horizontal" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
        <div>
            <div class="col-sm-5">
                <input auto-complete
                      id="model4"
                      [(ngModel)]="model4"
                       formControlName="name"
                       [source]="results ? name : ''"
                       path-to-data="results"
                       list-formatter="name"
                       value-property-name="id"
                       display-property-name="name"
                       placeholder="name"
                       class="form-control">
            </div><br/>
        </div>
    </form>
</div> -->
<!-- <input (keyup)="searchTerm$.next($event.target.value)" auto-complete [(ngModel)]="myData" [source]="mySource" /> -->
